{% extends 'base.html.twig' %}

{% block title %}Hello AboutController!{% endblock %}

{% block body %}
    {{ include('Default/Header.html.twig') }}
    <div class="container">
        <h2>Вариант 1. Блог</h2>
        <h2>Разработать блог.</h2>

        <h3>На всех страницах в шапке сайта для неавторизованных пользователей выводить ссылки на авторизацию и
            регистрацию, для авторизованных - приветствие, кнопку “Выход” и имя пользователя.
        </h3>
        <h3>На главной странице выводятся посты, отсортированные по дате добавления.
            У каждого поста выводится название (ссылка на страницу поста), дата добавления, аннотация (краткое описание
            содержимого или первая часть поста) и количество комментариев к посту.
        </h3>
        <h2>На странице поста выводится информация о посте:</h2>
        <ul>
            <li>название</li>
            <li>дата добавления</li>
            <li>текст описания</li>
            <li>количество просмотров поста</li>
            <li>список комментариев, отсортированных по дате добавления</li>
            <li>форма “Оставить комментарий” (текстовое поле и кнопка “Отправить”)</li>
        </ul>

        <h2>На странице добавления поста располагается форма с полями</h2>
        <ul>
            <li>название</li>
            <li>аннотация</li>
            <li>текст поста</li>
        </ul>

        <h3>Все поля обязательные. Если какие-то из введенных значений невалидны, сохранения в БД не происходит, на
            форме выводятся сообщения об ошибках. Заполненные пользователем текстовые поля не сбрасываются.
        </h3>
        <h3>Просмотром новости должно считаться посещение детальной страницы поста, если текущий пользователь - не автор
            поста.</h3>

        <h3>После успешной отправки выполнять редирект на страницу созданного поста.</h3>

        <h3>Все пользователи (в том числе неавторизованные) могут просматривать посты и комментарии к ним.
            Авторизованные пользователи могут оставлять комментарии под постами.
            Пользователь с правами администратора должен иметь возможность добавления, удаления и редактирования постов,
            а также удаления комментариев.</h3>
    </div>
    {{ include('Default/Footer.html.twig') }}
{% endblock %}
