{% extends 'base.html.twig' %}

{% block title %}Edit Comments{% endblock %}

{% block body %}
    {{ include('Default/Header.html.twig') }}

    <h1>Изменение комментария</h1>
    <div class="ContentDataSection">
        <div class="DataButton">
            {{ include('comments/_form.html.twig', {'button_label': 'Изменить'}) }}
        </div>
    </div>
    <div class="ContentDataSection">
        <div class="DataButton">
            <div>
                {{ include('comments/_delete_form.html.twig') }}
            </div>
            <div>
                <a class="button" href="{{ path('posters_show', {'id': comment.poster.getId()}) }}">Назад</a>
            </div>
        </div>
    </div>
{% endblock %}
